
<app-employee-form> </app-employee-form>
<app-employee></app-employee>
<app-employee-list></app-employee-list>
<app-employee-table></app-employee-table>

<app-template-form></app-template-form>
<app-reactive-form></app-reactive-form>
<app-reactive-array></app-reactive-array>


<div class="container mt-4 text-center">
  <div>
  <a class="btn btn-primary m-2" routerLink="/home" routerLinkActive="active-btn">Home</a>
  </div>
  <div>
  <a class="btn btn-success m-2" routerLink="/product" routerLinkActive="active-btn">Product</a>
  </div>
  <div>
  <a class="btn btn-dark m-2" routerLink="/contact" routerLinkActive="active-btn">Contact</a>
  </div>
</div>
<div class="container mt-3">
  <router-outlet></router-outlet>
</div>

